#Created during install
/psumsim.egg-info
#Created during import
/psumsim/__pycache__
#Test Products
/.pytest_cache
/psumsim_result_test*.json
/psumsim_progress_test*.txt
/psumsim_plot_data_*.npz
#Results from commandline
/psumsimresults*.json
